*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    position: relative;
}

/*----------------------------------------- achtergrond --------------------------------------------------*/
main section div:first-of-type{
    background-color: #35314B;
    width: 100vw;
    height: 95vh;
}

main section div:nth-of-type(2){
    background-color: #5F7C5A;
    width: 100vw;
    height: 5vh;
}
